<%= render "govuk_publishing_components/components/back_link", {
  href: search_path
} %>

<h1 class="govuk-heading-l">How to rate search results</h1>

<h4 class="govuk-heading-s">Perfect</h4>
<p class="govuk-body">
  Based on your search term, the result is completely relevant. More than one result can be perfect.
</p>
<h4 class="govuk-heading-s">Good</h4>
<p class="govuk-body">
  The result is clearly reasonable. You are not surprised that the search term brought back this result.
</p>
<h4 class="govuk-heading-s">OK</h4>
<p class="govuk-body">
  You can see why we returned the result, but it isn't very helpful. For example, a search for
  “Find my local council” may return a page about how to pay a parking charge to your local council. You can see why it appeared
  (because it includes a reference to local councils) but it isn’t directly relevant for your search term.
</p>
<h4 class="govuk-heading-s">Bad</h4>
<p class="govuk-body">
  The result has no apparent relationship to your search term.
</p>
