<li class="search-results__item">
  <div class="search-results__info">
    <h2 class="search-results__title">
      <a href="#" class="govuk-link">Result Title</a>
    </h2>
    <p class="search-results__description">Result Description</p>
    <div class="search-results__metadata">Extra Metadata</div>
  </div>
  <label class="search-results__ranking">
    <input type="radio" name="result1-ranking" value="bad" class="search-results__radio"> Perfect
  </label>
  <label class="search-results__ranking">
    <input type="radio" name="result1-ranking" value="ok" class="search-results__radio"> Good
  </label>
  <label class="search-results__ranking">
    <input type="radio" name="result1-ranking" value="good" class="search-results__radio"> OK
  </label>
  <label class="search-results__ranking">
    <input type="radio" name="result1-ranking" value="good" class="search-results__radio"> Bad
  </label>
</li>
